body {
  margin: 0%;
  background-color: black;
  color: #4ef5e4;

}

h1 {
  text-align: center;
  font-size: 50px;
}

h3 {
  text-align: center;
  font-size: 40px;
}

img {

  width: 100px;
  height: 100px;
}

table {
  font-size: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#playerbox {
  width: 100px;
  height: 100px;
  border: solid 1px #4ef5e4;
}

#computerbox {
  width: 100px;
  height: 100px;
  border: solid 1px #4ef5e4;
}

tr {
  text-align: center;
}

.scoreboard td {
  padding-left: 20px;
  padding-right: auto;
}

.resultdisplay {
  color: yellow;
}